.aviso {
  background-image: url(papel_arrugado.jpg);
  width: 600px;
  margin: auto;
  padding: 1px 20px 20px;
  font-family: cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
}


.features {
  color: #FF0000;
}

.features strong {
  color: green;
}

img {
  background-image: radial-gradient(blue, red);
  border-radius: 50%;
}